@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');

body{

  font-family: 'Ubuntu', sans-serif !important;
  background-color: #fdf9f9 !important;

}

.navbar{
  background-color: #5700A0;
}
.contact-img{
  width:200px;
  height: 200px;
  border-radius: 50%;
}